{% set date = craft.app.request.getParam('date') %}
{% set categoryId = craft.app.request.getParam('categoryId') %}

{% if not date %}
	<section class="pb-3 text-center text-lg-left">

		<div class="row mb-4">
		{% endif %}

		{% if date %}
			{% set firstDayOfMonth = date | date_modify('first day of this month') | date('m/d/Y')|atom %}
			{% set lastDayOfMonth = date | date_modify('last day of this month') | date('m/d/Y')|atom %}
			{% set query = craft.entries().section('news').postDate(['and', ">= #{firstDayOfMonth}", "< #{lastDayOfMonth}"]).limit(8) %}
		{% elseif categoryId %}
			{% set category = craft.categories.id(categoryId).one() %}
			{% set query = craft.entries.section('news').limit(8).relatedTo(category) %}
		{% else %}
			{% set query = craft.entries().section('news').limit(8) %}
		{% endif %}

		{% paginate query as pageInfo, pageEntries %}

			{% for news in pageEntries %}
				{#% if loop.index%3 == 0%#}
				{% set col = loop.index % 3 == 1? "col-md-12" : "col-md-6" %}
				{% set col = loop.index % 7 == 0 or loop.index % 8 == 0? "col-md-6" : col %}

				<!-- Grid column -->
				<div
					class="{{col}} mb-4">
					<!-- Card -->
					<div
						class="card text-left">

						<!-- Card image -->

						{% set image = news.image.one() %}
						<img src={% if image %} {{image.url}} {% endif %} class="card-img-top" alt="{{image}}">
						<div class="view overlay">
							<a>
								<div class="mask rgba-white-slight"></div>
							</a>
						</div>
						<!-- Card image -->

						<!-- Card content -->

						<div class="card-body mx-4">
							{% if col == "col-md-6" %}
								<a href="" class="teal-text text-center text-uppercase font-small">
									<h6 class="mb-3 mt-3">
										{% set category = news.category.one() %}
										<strong>
											{% if category %}
												{{category.title}}
											{% endif %}
										</strong>

										<a class="dark-grey-text font-small">
											-
											{{ news.postDate|date("d.m.Y.") }}
										</a>
									</h6>
								</a>

							{% endif %}
							<!-- Title -->
							<h4 class="card-title">
								<strong>{{news.title}}</strong>
							</h4>
							<hr>
							<!-- Text -->
							<p class="dark-grey-text mb-4">
								{{news.description|striptags('<br>') | raw }}
							</p>
							{% if col == "col-md-12" %}

								<p class="font-small font-weight-bold blue-grey-text mb-1">
									<i class="far fa-clock-o"></i>
									{{ news.postDate|date("d/m/Y") }}</p>

								{% set author = news.author1 is not null  ? news.author1.one() : '' %}

								<p class="font-small dark-grey-text mb-0 font-weight-bold">{{author}}</p>
							{% endif %}

							<p class="text-right mb-0 text-uppercase font-small spacing font-weight-bold">
								<a href={{news.url}}>
									{{layout.readMoreLabel}}
									<i class="fas fa-chevron-right" aria-hidden="true"></i>
								</a>
							</p>
						</div>
						<!-- Card content -->

					</div>
					<!-- Card -->

				</div>
				<!-- Grid column -->

			{% endfor %}
			{% if not date %}
			</div>


		</section>
	{% endif %}
	<nav class="mb-5 pb-2">
		<ul class="pagination pg-darkgrey flex-center">
			{% if pageInfo.prevUrl %}
				<!-- Arrow left -->
				<li class="page-item">
					<a href="{{ pageInfo.prevUrl }}" class="page-link waves-effect waves-effect" aria-label="Previous">
						<span aria-hidden="true">«</span>
						<span class="sr-only">Previous</span>
					</a>
				</li>
			{% endif %}

			{% for page, url in pageInfo.getPrevUrls(5) %}
				<li class="page-item ">
					<a href="{{ url }}" class="page-link waves-effect waves-effect">{{ page }}</a>
				</li>

			{% endfor %}

			<li class="page-item {{ pageInfo.currentPage? " active" }}">
				<a href="" class="page-link waves-effect waves-effect">{{ pageInfo.currentPage }}</a>
			</li>

			{% for page, url in pageInfo.getNextUrls(5) %}
				<li class="page-item">
					<a href="{{ url }}" class="page-link waves-effect waves-effect">{{ page }}</a>
				</li>
			{% endfor %}

			<!-- Arrow right -->
			{% if pageInfo.nextUrl %}
				<li class="page-item">
					<a href="{{ pageInfo.nextUrl }}" class="page-link waves-effect waves-effect" aria-label="Next">
						<span aria-hidden="true">»</span>
						<span class="sr-only">Next</span>
					</a>
				</li>
			{% endif %}
		</ul>
	</nav>
