{% set module = module %}
{% set backgroundImage = module.backgroundImage.one() %}
<div class="parallax"
	data-background="{{backgroundImage.url}}"
	data-color="#36383e"
	data-color-opacity="0.6"
	data-img-width="800"
	data-img-height="505">
	<!-- Infobox -->
	<div class="text-content white-font">
		<div class="container text-image">
			{% set image = module.image.one() %}
			<div class="row">
				<div class="col-lg-6 col-sm-{{image ? 6 : 8}}">
					<h2>{{module.heading}}</h2>
					{% if module.contentText %}{{module.contentText}}{% endif %}
				</div>
				{% if image %}
				<div class="col-lg-3 col-lg-offset-3 col-sm-offset-2 col-sm-4 text-center">
					<div class="blog-compact-item">
						{% set image = module.image.one() %}
						<img src="{{image.url}}" alt="{{image.title}}">
						<div class="blog-compact-item-content">
							{% if module.imageCaption %}<h3>{{module.imageCaption|raw}}</h3>{% endif %}
						</div>
					</div>
				</div>
				{% endif %}
			</div>

		</div>
	</div>
	<!-- Infobox / End -->
</div>