{% set module = module %}
<section class="fullwidth border-top margin-top-65 padding-top-75 padding-bottom-70" data-background-color="#fff">

	<div class="container">
		<div class="row">

			<div class="col-md-12">
				<h3 class="headline centered margin-bottom-45">
					<strong class="headline-with-separator">{{module.heading}}</strong>
					{% if module.subheading %}<span>{{module.subheading}}</span>{% endif %}
				</h3>
			</div>
		</div>
	</div>
	<!-- Carousel / Start -->
	<div class="simple-fw-slick-carousel dots-nav">

	{% set countedEntries = craft.entryCount.entries.all() %}
	{% set countedEntriesIds = [] %}
	{% for item in countedEntries %}
		{% set countedEntriesIds = countedEntriesIds|merge([item.id]) %}
	{% endfor %}

	{% if countedEntriesIds|length/3 > 4 %}
		{% set accommodations = craft.entries().section('accommodations').id(countedEntriesIds).fixedOrder().limit(6).all() %}
	{% else %}
		{% set accommodations = craft.entries().section('accommodations').limit(6).all() %}
	{% endif %}		

	{% for accommodation in accommodations %}
		<!-- Listing Item -->
		<div class="fw-carousel-item">
			<a href="{{accommodation.url}}" class="listing-item-container compact">
				<div class="listing-item">
					{% set image = accommodation.featuredImages.one() %}
					<img src="{{image.url}}" alt="{{image}}">
					<div class="listing-item-details">
						<ul>
							<li>{{module.priceText|replace({'$':accommodation.priceOutOfSeason~'€'}) }}</li>
						</ul>
					</div>
					<div class="listing-item-content">
						<h3>{{accommodation.title}}</h3>
						<span>{{accommodation.location.parts.address}}, {{accommodation.location.parts.postcode}} {{accommodation.location.parts.city}}</span>
					</div>
				</div>
			</a>
		</div>
		<!-- Listing Item / End -->
	{% endfor %}

	</div>
	<!-- Carousel / End -->
</section>