{% set module = module %}
<section class="fullwidth padding-top-75 padding-bottom-30" data-background-color="#fff">
	<!-- Info Section -->
	<div class="container">

		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<h3 class="headline centered headline-extra-spacing">
					<strong class="headline-with-separator">{{module.heading}}</strong>
					{% if module.subheading %}
					<span class="margin-top-25">{{module.subheading}}</span>
					{% endif %}
				</h3>
			</div>
		</div>

	</div>
	<!-- Info Section / End -->

	<!-- Categories Carousel -->
	<div class="fullwidth-carousel-container margin-top-20 no-dots">
		<div class="testimonial-carousel testimonials">		
			{% for review in craft.entries().section('reviews').limit(module.listingNumber).all() %}
			<!-- Item -->
			<div class="fw-carousel-review">
				<div class="testimonial-box">
					<div class="testimonial">{{review.review}}</div>
				</div>
				<div class="testimonial-author">
					<i class="im im-icon-Add-UserStar"></i>
					<h4>{{review.title}}<span>{{review.place}}</span></h4>
				</div>
			</div>
			{% endfor %}

		</div>
	</div>
	<!-- Categories Carousel / End -->

</section>