<section>
	<div class="container-fluid white mb-0 pb-0">
		<hr class="mt-0">
		<div class="container">
			<!-- Grid row -->
			<div class="row">

				<!-- Grid column -->
				<div class="col-lg-4 col-md-12">
					<h6 class="font-weight-bold mt-5 mb-3">{{footer.footerSection.aboutTitle}}</h6>
					<hr class="mb-5">
					<img src="{{footer.footerSection.aboutImage.one().url}}" alt="{{footer.footerSection.aboutImage.one().title}}" class="img-fluid z-depth-1">
					<p class="mt-4 mb-5">{{footer.footerSection.aboutDescription}}</p>
				</div>
				<!-- Grid column -->

				<!-- Grid column -->
				<div class="col-lg-4 col-md-6">
					<h6 class="font-weight-bold mt-5 mb-3">{{footer.footerSection.latestPostsTitle}}</h6>
					<hr class="mb-5">

			
				
					{% include "segment/cardPostsSmall.twig" with { 'news' : craft.entries().section('news').limit(3) } %}
				

				</div>
				<!-- Grid column -->
				<div class="col-lg-4 col-md-6">
					<h6 class="font-weight-bold mt-5 mb-3">{{footer.footerSection.olderPostsTitle}}</h6>
					<hr class="mb-5">

					{% include "segment/cardOlderPostssmall.twig" with { 'news' : craft.entries().section('news').limit(3) } %} 
				

			</div>
			<!-- Grid row -->

		</div>
	</div>
</section>
<!-- Latest posts -->
</main>
<!-- Footer -->
<footer class="page-footer stylish-color mt-0 pt-0 text-center text-md-left">

{% include "segment/iconsSocial.twig" %}

<!-- Copyright -->
<div class="footer-copyright text-center py-3">
	<div class="container-fluid">
		© 2019 Copyright:
		<a href="https://mdbootstrap.com/education/bootstrap/" target="_blank">
			MDBootstrap.com
		</a>
	</div>
</div>
<!-- Copyright -->
</footer><!-- Footer --><!-- SCRIPTS --><!-- JQuery --><script type="text/javascript" src="/assets/js/jquery-3.4.1.min.js">
</script><!-- Bootstrap tooltips --><script type="text/javascript" src="/assets/js/popper.min.js">
</script><!-- Bootstrap core JavaScript --><script type="text/javascript" src="/assets/js/bootstrap.min.js">
</script><!-- MDB core JavaScript --><script type="text/javascript" src="/assets/js/mdb.min.js"></script><!-- Custom scripts --><script type="text/javascript">
// Animation
new WOW().init();

// MDB Lightbox Init
$(function () {
$("#mdb-lightbox-ui").load("../../mdb-addons/mdb-lightbox-ui.html");
});</script></body></html>
